/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 1em; border: 1px solid #000 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0;} /* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
	border-left: 2px solid #000;
	margin-left: 1em;
	padding-left: 1em;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
	background-color: #ddd;
}
li.L0:hover, li.L1:hover, li.L2:hover, li.L3:hover, li.L4:hover, li.L5:hover, li.L6:hover, li.L7:hover, li.L8:hover, li.L9:hover {
	background-color: #ccc;
}

.prettyprint {
	font-size: 80%;
	font-family: Verdana,Arial,sans-serif;
	border: 1px solid #000;
	background-color: #f4f4f4;
	padding: 1em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: -3px 0 1.625em 0;
}
.prettyprint {overflow: auto;}

code {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 80%;
	padding: 0.2em;
	color: #d14;
	background-color: #f4f4f4;
	border: 1px solid #999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

span.prettylabel,
div.prettylabel {
	font-family: Verdana,Arial,sans-serif;
	font-size: 65%;
	background: #f4f4f4;
	border: 1px solid #000;
	border-bottom: 1px solid #f4f4f4;
	display: inline-block;
	margin: 0 0 0 1em;
	padding: 0 2em;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-radius: 6px 6px 0 0;
}
